/* #img1{
    height: 500px;
    width: 650px;
    border: solid;
}
body{
    background-color: bisque;
    margin: 10px;
    
}

#img2{
    height: 500px;
    width: 647px;
    border: solid;
    margin-left: 10px;
}
#img3{
    height: 500px;
    width: 430px;
    border: solid;
}
#img4{
    height: 500px;
    width: 431px;
    border: solid;
}
#img5{
    height: 500px;
    width: 437px;
    border: solid;

}
#img6{
    height: 500px;
    width: 650px;
    border: solid;
}
#img7{
    height: 500px;
    width: 620px;
    margin-left: 40px;
    border: solid;

    
}


h1{
    text-align: center;
}
footer{
    height: 90px;
    width: 100%;
    border: solid;
    background-color: aqua;
    text-align: center;
    margin-top: 20px;

}

img{
    height: 40px;
    width: 40px;      
}

nav{
    
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    background-color: aqua;
    border: black;
    text-align: end;
    

} */
